body
{
  background-color: #FFF0F5;
}
hr
{
  width: 5%;
  border-style: dotted none none; /* dotted top none: left and right, none: Bottom */
  border-color: #E0E0E0;
  border-width: 5px;
}
img
{
  height: 150px;
    width: 150px;
}
h3
{
  color: #FF80B0;
}
h1
{
  color: #F76A8C;
}
